.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-shadow: -2px 0 #E53935, 0 0px #E53935, 0px 0 #E53935, 0 -2px #E53935;
  text-align: center;
  background-image: url('./arnold.jpg');
}

.App-chart-container {
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 800px;

  overflow: auto;
}

.App-chart-description {
  font-size: 1.2em;
}

.App-chart-source {
  color: #757575;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 30px;
}

.App-chart-source a {
  color: #757575;
}
